.pagination {
  display: flex;
  justify-content: space-between;

  &__container {
    width: 120px;
    overflow-x: hidden;

    &--small {
      width: auto;
    }
  }

  &__buttons {
    padding: 0 20px 0 0;
    position: relative;

    &_list {
      display: flex;
      list-style: none;
      gap: 5px;
    }
  }

  &__txt {
    &--bold {
      font-weight: 600;
    }
  }
}