.table {
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  border-collapse: collapse;

  &__header {

    &_row {
      border: 1px solid blue;
      height: 40px;
      text-align: left;
      text-indent: 3px;
      position: relative;

      &:before {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background-image: url('https://image.freepik.com/free-icon/sort-up-and-down-arrows-couple_318-53097.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {

    &_row {
      border: 1px solid gray;
      height: 30px;
      text-indent: 2px;
    }
  }
}