.table {
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  border-collapse: collapse;

  &__header {

    &_row {
      height: 40px;
      text-align: left;
      text-indent: 2px;
      border-bottom: 3px solid #000077;
      border-right: 1px solid gray;
      text-transform: uppercase;
      font-size: 15px;
      font-family: sans-serif;
      width: max-content;

      &:hover {
        cursor: pointer;
      }
    }

    &_txt {
      position: relative;
      padding-right: 15px;

      &:before {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background-image: url('https://image.freepik.com/free-icon/sort-up-and-down-arrows-couple_318-53097.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
      }
    }
  }

  &__body {

    &_row {
      border: 1px solid gray;
      height: 30px;
      text-indent: 2px;
    }
  }
}