.popupAddColumn {
  position: absolute;
  top: 113px;
  right: 266px;
  width: 220px;
  height: 320px;
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid gray;
  padding: 10px;

  &__buttons {
    display: flex;
    justify-content: space-between;

    &_txt {
      font-weight: 600;
      margin: 0;
    }

    &_btn {
      border: none;
      outline: none;
      background: none;
      color: blue;
      text-decoration: underline;

    }
  }

  &__form {
    display: flex;
    justify-content: flex-end;

      &_button {
        color: #fff;
        background-color: blue;
        align-self: flex-end;
        width: 60px;
        height: 25px;
      }
  }
}