.select {
  &:first-child {
    padding: 10px 0 0 0;
    border-top: 1px solid gray;
  }

  &:nth-child(3) {
    border-bottom: 1px solid gray;
    padding: 0 0 10px 0;
    margin-bottom: 10px;
  }
  &__title {
    margin: 0;
  }

  &__list {
    transform: scaleY(0);
        transform-origin: top;
        transition: all 0.3s ease;
        height: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 10px;

    &--opened {
      transform: scaleY(1);
          transform-origin: top;
          height: auto;
          margin-top: 20px;
    }

  }
}